@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="/img/logo.svg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />


    @* Plausible *@
    <script defer data-domain="docs.unilake.com" src="https://pa.unilake.com/js/script.js"></script>

    @* Posthog *@
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);

        async function getUserLocation() {
            try {
                const response = await fetch('https://ipapi.co/json/');
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching location data:', error);
                return null;
            }
        }

        async function initializePostHog() {
            let loc = await getUserLocation();
            
            const isEU = loc && loc.in_eu === true;
            
            if (isEU) {
                posthog.init('phc_6QvsRwm2YU0irsycRbWRrOjP1o56MX2o36g2teEMHYJ', {
                    api_host: 'https://ph.avd.unilake.com',
                    persistence: 'memory',
                    autocapture: false
                }); 
                console.log('PostHog initialized with cookieless approach for EU user');
            } else {
                posthog.init('phc_6QvsRwm2YU0irsycRbWRrOjP1o56MX2o36g2teEMHYJ', {
                    api_host: 'https://ph.avd.unilake.com',
                }); 
                console.log('PostHog initialized with regular approach for non-EU user');
            }
        }

        window.onload = initializePostHog;
    </script>

    <title>@ViewData["Title"]</title>
    <script>
    if (location.search === "?dark") localStorage.setItem('color-scheme','dark') 
    if (location.search === "?light") localStorage.removeItem('color-scheme') 
    const cls = document.querySelector('html').classList
    if (localStorage.getItem('color-scheme') === 'dark')
        cls.add('dark')
    else
        cls.remove('dark')
    </script>
    <link rel="stylesheet" href="/css/app.css">

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    @Html.ImportMap(new() {
        ["app.mjs"]              = ("/mjs/app.mjs",                     "/mjs/app.mjs"),
        ["vue"]                  = ("/lib/mjs/vue.mjs",                 "/lib/mjs/vue.min.mjs"),
        ["@servicestack/client"] = ("/lib/mjs/servicestack-client.mjs", "/lib/mjs/servicestack-client.min.mjs"),
        ["@servicestack/vue"]    = ("/lib/mjs/servicestack-vue.mjs",    "/lib/mjs/servicestack-vue.min.mjs"),
    })
</head>
<body class="bg-white xl:overflow-auto font-inter dark:bg-black dark:text-white">
@await Html.PartialAsync("Header")

<div class="min-h-screen bg-neutral">
    <main role="main" class="pt-16">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("Footer")

<script type="module">
import { init } from "app.mjs"
init()
</script>

@await RenderSectionAsync("Scripts", required: false)

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>