<footer class="mx-auto px-L font-inter bg-headLines">
    <div class="md:py-XXL py-[64px] mx-auto grid grid-cols-1 md:gap-XL gap-XL font-inter">
        <div class="flex flex-col items-start md:items-center md:text-center gap-M">
            <span class="text-[32px] leading-[40px] tracking-[-0.96px] w-2/3 md:w-full md:text-[40px] text-neutral font-bold">Ready to try Unilake?</span>
            <p class="text-Regular text-body">Reach to get more information regarding Unilake<br />
            Want to see how Unilake can accelerate your data and AI journey? Book a call with us!</p>
        </div>
        <div class="flex items-center justify-center">
            <div class="grid items-center justify-center w-full grid-cols-1 md:grid-cols-2 gap-M md:w-fit">
                <a href="https://cal.com/mrhamburg" about="_blank">
                    <button class="xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM md:h-[48px] h-[40px] bg-brand gap-2 flex justify-center items-center rounded-S md:w-fit w-full brand-color-button">
                        <span class="text-neutral md:text-14 text-Small font-[600]">
                            Book a call
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path d="M6.22668 11.9545L9.28002 8.89447L6.22668 5.83447L7.16668 4.89447L11.1667 8.89447L7.16668 12.8945L6.22668 11.9545Z" fill="#E6EFF4"/>
                        </svg>
                    </button>
                </a>
                <a href="mailto:oss@unilake.com?subject=Ready to try Unilake" about="_blank">
                    <button class="xl:px-L xl:py-SM md:px-M md:py-S px-L py-SM md:h-[48px] h-[40px] items-center text-neutral md:text-14 text-Small font-[600] flex border border-[#3F4952] justify-center text-[14px] rounded-S md:w-fit w-full bg-less-button">
                        Contact us
                    </button>
                </a>
            </div>
        </div>
    </div>
</footer>