@page
@model docs.unilake.Pages.Shared.DocsPage
@inject MarkdownPages Markdown


<link rel="stylesheet" href="/css/highlight.css">
<link rel="stylesheet" href="/css/typography.css">
<link rel="stylesheet" href="/css/lite-yt-embed.css">

<div class="relative px-0 pt-6 mx-auto md:px-8 3xl:px-28 3xl:container">
    <div class="flex flex-wrap">
    
    @* LEFT MENU *@
    <div class="items-start flex-col hidden xl:inline-flex flex-none my-8 pr-[143px] pl-0 gap-2">
        <div id="left-menu" class="fixed z-40 w-[263px] h-screen xl:h-[calc(100vh-180px)] overflow-y-auto transition-transform translate-x-0 bg-transparent top-[105px] dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
        <div class="py-4 overflow-y-auto">
            <ul class="space-y-1">
                @* MENU ITEM *@
                <li>
                    <button type="button" class="flex items-center w-full gap-2 px-4 py-2 text-base transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-1" data-collapse-toggle="dropdown-l-1">
                        @await Html.PartialAsync("SVG/GearSvg")
                        <span class="flex-1 text-left whitespace-nowrap">Overview</span>
                        @await Html.PartialAsync("SVG/ChevronSvg")
                    </button>
                    <ul id="dropdown-l-1" class="hidden p-2 py-2">
                        <li class="">
                            <button type="button" class="flex items-center justify-between w-full gap-2 p-2 text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-2" data-collapse-toggle="dropdown-l-2">
                                @await Html.PartialAsync("SVG/PagesSvg")
                                <span class="flex-1 text-left whitespace-nowrap">AWS</span>
                                @await Html.PartialAsync("SVG/ChevronSvg")
                            </button>
                            <ul id="dropdown-l-2" class="hidden py-2 pl-6 space-y-2">
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/RefreshAlertSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/AlertBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/QuestionBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/ShoppingCartSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                            </ul>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/UserSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/CanbanSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HistorySvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HomeSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>                        
                    </ul>
                </li>
                @* MENU ITEM *@
                <li>
                    <button type="button" class="flex items-center w-full gap-2 px-4 py-2 text-base transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-3" data-collapse-toggle="dropdown-l-3">
                        @await Html.PartialAsync("SVG/DashboardSvg")
                        <span class="flex-1 text-left whitespace-nowrap">Overview</span>
                        @await Html.PartialAsync("SVG/ChevronSvg")
                    </button>
                    <ul id="dropdown-l-3" class="hidden p-2 py-2">
                        <li class="">
                            <button type="button" class="flex items-center justify-between w-full gap-2 p-2 text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-4" data-collapse-toggle="dropdown-l-4">
                                @await Html.PartialAsync("SVG/PagesSvg")
                                <span class="flex-1 text-left whitespace-nowrap">AWS</span>
                                @await Html.PartialAsync("SVG/ChevronSvg")
                            </button>
                            <ul id="dropdown-l-4" class="hidden py-2 pl-6 space-y-2">
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/RefreshAlertSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/AlertBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/QuestionBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/ShoppingCartSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                            </ul>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/UserSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/CanbanSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HistorySvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HomeSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>                        
                    </ul>
                </li>
                @* MENU ITEM *@
                <li>
                    <button type="button" class="flex items-center w-full gap-2 px-4 py-2 text-base transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-5" data-collapse-toggle="dropdown-l-5">
                        @await Html.PartialAsync("SVG/FireSvg")
                        <span class="flex-1 text-left whitespace-nowrap">Overview</span>
                        @await Html.PartialAsync("SVG/ChevronSvg")
                    </button>
                    <ul id="dropdown-l-5" class="hidden p-2 py-2">
                        <li class="">
                            <button type="button" class="flex items-center justify-between w-full gap-2 p-2 text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-6" data-collapse-toggle="dropdown-l-6">
                                @await Html.PartialAsync("SVG/PagesSvg")
                                <span class="flex-1 text-left whitespace-nowrap">AWS</span>
                                @await Html.PartialAsync("SVG/ChevronSvg")
                            </button>
                            <ul id="dropdown-l-6" class="hidden py-2 pl-6 space-y-2">
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/RefreshAlertSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/AlertBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/QuestionBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/ShoppingCartSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                            </ul>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/UserSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/CanbanSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HistorySvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HomeSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>                        
                    </ul>
                </li>
                @* MENU ITEM *@
                <li>
                    <button type="button" class="flex items-center w-full gap-2 px-4 py-2 text-base transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-7" data-collapse-toggle="dropdown-l-7">
                        @await Html.PartialAsync("SVG/GlobeSvg")
                        <span class="flex-1 text-left whitespace-nowrap">Overview</span>
                        @await Html.PartialAsync("SVG/ChevronSvg")
                    </button>
                    <ul id="dropdown-l-7" class="hidden p-2 py-2">
                        <li class="">
                            <button type="button" class="flex items-center justify-between w-full gap-2 p-2 text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-l-8" data-collapse-toggle="dropdown-l-8">
                                @await Html.PartialAsync("SVG/PagesSvg")
                                <span class="flex-1 text-left whitespace-nowrap">AWS</span>
                                @await Html.PartialAsync("SVG/ChevronSvg")
                            </button>
                            <ul id="dropdown-l-8" class="hidden py-2 pl-6 space-y-2">
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/RefreshAlertSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/AlertBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/QuestionBadgeSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                                <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                                    @await Html.PartialAsync("SVG/ShoppingCartSvg")
                                    <a href="#" class="flex items-center w-full transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Overview</a>
                                </li>
                            </ul>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/UserSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/CanbanSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HistorySvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>
                        <li class="flex items-center justify-between w-full gap-2 p-2 pl-4 text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700 ">
                            @await Html.PartialAsync("SVG/HomeSvg")
                            <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                        </li>                        
                    </ul>
                </li>            
            </ul>
        </div>
        </div>
    </div>
        
    <div id="doc" class="flex flex-start"> 
        @* CONTENT SECTION *@
        <div class="px-6 py-6 xl:py-16 flex flex-col gap-8 xl:gap-16 mx-auto xl:w-[700px] min-[1590px]:w-[886px] 2xl:w-[750px] 3xl:w-[886px] xl:ml-[100px] 2xl:ml-[150px] min-[1590px]:ml-[263px] 3xl:ml-[263px] ">
            @* BREADCRUMB *@
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-3 md:space-x-3 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-brand dark:text-gray-400 dark:hover:text-white">
                            <svg class="icon-footer" xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                <g clip-path="url(#clip0_444_417)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.23341 0.93064C5.73504 0.79187 6.26495 0.79187 6.76658 0.93064C7.06938 1.01441 7.34331 1.16242 7.64592 1.37013C7.94205 1.57339 8.28539 1.84807 8.72159 2.19703L8.73305 2.2062L9.73306 3.0062C9.74825 3.01836 9.76329 3.03039 9.77816 3.04228C10.2864 3.44879 10.5992 3.69902 10.8277 4.01417C11.0299 4.29302 11.1802 4.60596 11.2717 4.93798C11.3751 5.31331 11.3751 5.71397 11.375 6.36493C11.375 6.38391 11.375 6.40309 11.375 6.4225V9C11.375 10.5878 10.0878 11.875 8.49999 11.875C7.74059 11.875 7.12499 11.2594 7.12499 10.5V8.49995C7.12499 7.87865 6.62133 7.37495 5.99999 7.37495C5.37866 7.37495 4.87499 7.87865 4.87499 8.49995V10.5C4.87499 11.2594 4.25938 11.875 3.49999 11.875C1.91218 11.875 0.624995 10.5878 0.624995 9V6.4225C0.624995 6.4031 0.624992 6.38391 0.62499 6.36494C0.624904 5.71398 0.624851 5.31332 0.728247 4.93799C0.819719 4.60595 0.97011 4.29305 1.17224 4.0142C1.40075 3.69898 1.71366 3.44872 2.22206 3.04211C2.23686 3.03027 2.25182 3.01831 2.26695 3.0062L3.27841 2.19704C3.71461 1.84808 4.05796 1.57339 4.35408 1.37014C4.65669 1.16242 4.93062 1.01441 5.23341 0.93064ZM5.43338 1.65349C5.24168 1.70653 5.04542 1.80528 4.77851 1.98848C4.5077 2.17437 4.18562 2.43174 3.73548 2.79185L2.73548 3.59185C2.16791 4.0459 1.94116 4.23135 1.77948 4.45438C1.63008 4.66049 1.51892 4.89176 1.45131 5.13718C1.37815 5.40275 1.37499 5.69565 1.37499 6.4225V9C1.37499 10.1736 2.32639 11.125 3.49999 11.125C3.84518 11.125 4.12499 10.8452 4.12499 10.5V8.49995C4.12499 7.46445 4.96443 6.62495 5.99999 6.62495C7.03556 6.62495 7.87499 7.46445 7.87499 8.49995V10.5C7.87499 10.8452 8.1548 11.125 8.49999 11.125C9.67359 11.125 10.625 10.1736 10.625 9V6.4225C10.625 5.69565 10.6218 5.40276 10.5487 5.13719C10.481 4.89175 10.3699 4.66046 10.2205 4.45436C10.0588 4.23133 9.83202 4.04587 9.26453 3.59185C9.26453 3.59185 9.26454 3.59185 9.26453 3.59185L8.26454 2.79185C7.81439 2.43174 7.4923 2.17437 7.22149 1.98848C6.95458 1.80528 6.75831 1.70653 6.56661 1.65349M5.43338 1.65349C5.80415 1.55092 6.19584 1.55092 6.56661 1.65349H5.43338Z" fill="#252532"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_444_417">
                                <rect width="12" height="12" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            @await Html.PartialAsync("SVG/ChevronRightSvg")
                            <a href="#" class="text-sm font-medium text-gray-700 ms-2 hover:text-brand md:ms-[9px] dark:text-gray-400 dark:hover:text-white">Getting Started</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            @await Html.PartialAsync("SVG/ChevronRightSvg")
                            <span class="text-sm font-medium text-brand ms-2 dark:text-gray-400">Overview</span>
                        </div>
                    </li>
                </ol>
            </nav>

            @* RIGHT MENU *@
            <div id="drawer-right" class="xl:fixed 2xl:pl-0 3xl:mr-[60px] 2xl:mr-0 xl:mr-[30px] right-0 z-40 xl:h-screen xl:top-[108px] xl:p-4 overflow-y-auto bg-transparent xl:w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
                <div class="">
                    <button type="button" class="flex items-center border-b xl:border-b-0 border-offset-[12px] border-bgNeutarl justify-between w-full gap-2 2xl:px-4 py-2 text-base text-bodyText transition duration-75 group dark:text-white" aria-controls="dropdown-r" data-collapse-toggle="dropdown-r">
                        <div class="flex w-[266px] items-center gap-2">
                            @await Html.PartialAsync("SVG/PagesSvg")
                            <h5 id="drawer-right-label" class="text-xs font-extrabold text-bodyText tracking-[1.44px] uppercase dark:text-gray-400">On this page</h5>
                        </div>
                        <svg class="transition-transform xl:hidden rotate-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z" fill="#252532"/>
                        </svg>
                    </button>

                    <ul id="dropdown-r" class="flex-col hidden gap-2 p-2 py-3 pl-6 space-y-2 xl:flex ">
                        <li class="relative flex items-center justify-between w-full text-xs font-bold transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                            <button class="w-full text-left">
                                <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                            </button>
                        </li>
                        <li class="relative flex items-center justify-between w-full text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                            <button class="w-full text-left">
                                <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                            </button>
                        </li>
                        <li class="relative flex items-center justify-between w-full text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                            <button class="w-full text-left">
                                <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                            </button>
                        </li>
                        @* inner list *@
                        <ul class="flex flex-col gap-2 pl-8">
                            <li class="relative flex items-center justify-between w-full text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                                <button class="w-full text-left">
                                    <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                                </button>
                            </li>
                            <li class="relative flex items-center justify-between w-full text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                                <button class="w-full text-left">
                                    <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                                </button>
                            </li>
                            <li class="relative flex items-center justify-between w-full text-xs transition duration-75 rounded-lg text-bodyText group hover:bg-backgroundFaded dark:text-white dark:hover:bg-gray-700">
                                <button class="w-full text-left">
                                    <a href="#" class="flex items-center w-full p-2 transition duration-75 rounded-lg group focus:text-orange-500 dark:text-white dark:hover:bg-gray-700">Community Deployment</a>
                                </button>
                            </li>
                        </ul>
                    </ul>

                <a class="hidden pr-8 xl:block" href="http://github.com" target="_blank">
                    <button class="flex items-center mx-auto justify-center gap-2 px-6 py-3 mt-[60px] text-sm font-semibold text-neutral rounded-lg bg-brand hover:bg-[#e03c17]">
                        @await Html.PartialAsync("SVG/GithubSvg")
                        <span>Edit this page</span>
                    </button>
                </a>
                </div>

            </div> 

            @* TITLE *@
            <h1 class="2xl:text-[56px] text-[32px] tracking-[-0.96px] font-bold leading-[64px] 2xl:-tracking-[1.68px]">Title placeholder</h1>

            @* FEATURE AVAILABILITY *@
            <div class="">
                @* top *@
                <div class="flex flex-col w-[327px] mx-auto md:w-full not-prose py-3 px-6 rounded-lg md:self-stretch items-center gap-[24px] md:gap-[45px] border border-bgNeutarl bg-neutral shadow-sm md:flex-row" role="group">
                    
                    <span class="inline-flex items-center text-xs font-bold cursor-default md:text-base text-headLines dark:text-white">
                        Feature Availability
                    </span>

                    <span class="flex items-center gap-2 text-xs leading-7 cursor-default md:text-base text-bodyText dark:text-white">      
                        Self-Hosted Unilake 
                        <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <g clip-path="url(#clip0_218_2600)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.83334C4.59424 1.83334 1.83333 4.59425 1.83333 8.00001C1.83333 11.4058 4.59424 14.1667 8 14.1667C11.4058 14.1667 14.1667 11.4058 14.1667 8.00001C14.1667 4.59425 11.4058 1.83334 8 1.83334ZM0.833328 8.00001C0.833328 4.04197 4.04195 0.833344 8 0.833344C11.958 0.833344 15.1667 4.04197 15.1667 8.00001C15.1667 11.9581 11.958 15.1667 8 15.1667C4.04195 15.1667 0.833328 11.9581 0.833328 8.00001ZM5.64644 5.64646C5.8417 5.45119 6.15829 5.45119 6.35355 5.64646L8 7.2929L9.64644 5.64646C9.8417 5.45119 10.1583 5.45119 10.3535 5.64646C10.5488 5.84172 10.5488 6.1583 10.3535 6.35356L8.7071 8.00001L10.3535 9.64646C10.5488 9.84172 10.5488 10.1583 10.3535 10.3536C10.1583 10.5488 9.8417 10.5488 9.64644 10.3536L8 8.70712L6.35355 10.3536C6.15829 10.5488 5.8417 10.5488 5.64644 10.3536C5.45118 10.1583 5.45118 9.84172 5.64644 9.64646L7.29289 8.00001L5.64644 6.35356C5.45118 6.1583 5.45118 5.84172 5.64644 5.64646Z" fill="#525D61"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_218_2600">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                        </svg>
                    </span>

                    
                    <span data-popover-target="popover-default" data-popover-offset="30" class="flex items-center text-xs leading-7 cursor-default md:text-base text-bodyText dark:text-white"> 
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2.5C5.45505 2.5 3.36667 4.62988 3.36667 7.28889C3.36667 7.31777 3.36692 7.34659 3.36741 7.37534C3.37134 7.60533 3.21786 7.80833 2.9955 7.86722C1.95263 8.14344 1.16667 9.12584 1.16667 10.3111C1.16667 11.7183 2.27008 12.8333 3.6 12.8333H11.6667C13.4016 12.8333 14.8333 11.38 14.8333 9.55555C14.8333 8.15321 13.9843 6.96498 12.8022 6.49472C12.6507 6.43444 12.5381 6.30408 12.5005 6.14542C12.0024 4.04299 10.1676 2.5 8 2.5ZM2.37263 7.02071C2.5088 3.96087 4.96307 1.5 8 1.5C10.5734 1.5 12.73 3.26896 13.4097 5.66901C14.8453 6.34853 15.8333 7.83756 15.8333 9.55555C15.8333 11.9039 13.9818 13.8333 11.6667 13.8333H3.6C1.68986 13.8333 0.166672 12.2422 0.166672 10.3111C0.166672 8.81666 1.07629 7.52959 2.37263 7.02071Z" fill="#252532"/>
                        </svg>     
                        Self-Hosted Unilake 
                        <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <g clip-path="url(#clip0_218_2614)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00001 1.83334C4.59425 1.83334 1.83334 4.59425 1.83334 8.00001C1.83334 11.4058 4.59425 14.1667 8.00001 14.1667C11.4058 14.1667 14.1667 11.4058 14.1667 8.00001C14.1667 4.59425 11.4058 1.83334 8.00001 1.83334ZM0.833344 8.00001C0.833344 4.04197 4.04197 0.833344 8.00001 0.833344C11.9581 0.833344 15.1667 4.04197 15.1667 8.00001C15.1667 11.9581 11.9581 15.1667 8.00001 15.1667C4.04197 15.1667 0.833344 11.9581 0.833344 8.00001ZM11.0202 5.64646C11.2155 5.84172 11.2155 6.1583 11.0202 6.35356L7.6869 9.6869C7.49164 9.88216 7.17505 9.88216 6.97979 9.6869L5.64646 8.35356C5.45119 8.1583 5.45119 7.84172 5.64646 7.64646C5.84172 7.45119 6.1583 7.45119 6.35356 7.64646L7.33334 8.62624L10.3131 5.64646C10.5084 5.45119 10.825 5.45119 11.0202 5.64646Z" fill="#6B9E32"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_218_2614">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span>
                    
                    @* POPOVER *@
                    <div data-popover id="popover-default" role="tooltip" class="relative z-10 inline-block text-sm text-gray-500 w-[290px] transition-opacity duration-300 bg-neutral border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                        @* header *@
                        <div class="px-3 py-1.5 bg-backgroundFaded border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                            <div class="flex items-center justify-between dark:text-white">
                                <div class="flex items-center">
                                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2.5C5.45505 2.5 3.36667 4.62988 3.36667 7.28889C3.36667 7.31777 3.36692 7.34659 3.36741 7.37534C3.37134 7.60533 3.21786 7.80833 2.9955 7.86722C1.95263 8.14344 1.16667 9.12584 1.16667 10.3111C1.16667 11.7183 2.27008 12.8333 3.6 12.8333H11.6667C13.4016 12.8333 14.8333 11.38 14.8333 9.55555C14.8333 8.15321 13.9843 6.96498 12.8022 6.49472C12.6507 6.43444 12.5381 6.30408 12.5005 6.14542C12.0024 4.04299 10.1676 2.5 8 2.5ZM2.37263 7.02071C2.5088 3.96087 4.96307 1.5 8 1.5C10.5734 1.5 12.73 3.26896 13.4097 5.66901C14.8453 6.34853 15.8333 7.83756 15.8333 9.55555C15.8333 11.9039 13.9818 13.8333 11.6667 13.8333H3.6C1.68986 13.8333 0.166672 12.2422 0.166672 10.3111C0.166672 8.81666 1.07629 7.52959 2.37263 7.02071Z" fill="#252532"/>
                                    </svg>     
                                <span class="font-bold leading-7 font-xs text-headLines">Self-Hosted Unilake</span>
                                </div>
                                
                            </div>
                        </div>
                        @* body *@
                        <div class="px-3 py-2">
                            <p class="flex-1 leading-6 font-xs text-bodyText">Our cloud offering is currently under development and will be available soon.</p>
                        </div>
                        <div data-popper-arrow></div>
                    </div>
                </div>
                @* bottom *@
                <div class="flex items-start gap-4 py-2 mt-4 rounded-lg lg:mt-5 ">
                    <div class="w-0.5 shrink-0 self-stretch bg-faded"> </div>
                    <p class="w-full text-xs leading-6 text-bodyText" >Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. </p>
                </div>
            </div>

            @* text 1 *@
            <p class="text-xs leading-6 text-bodyText md:text-base lg:leading-7">
                Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
            </p>

            <h3 class="2xl:text-[32px] text-[24px] text-headLines leading-9 tracking-[-0.96px] font-bold">Title placeholder</h3>

            @* text 2 *@
            <div>
                <p class="text-xs leading-6 text-bodyText md:text-base lg:leading-7">
                Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                </p>
                <p class="text-xs leading-6 text-bodyText md:text-base lg:leading-7">
                    Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                </p>
            </div>

            @* tip success *@
            <div class="flex items-start gap-4 py-2 pr-6 mt-4 rounded-lg ">
                    <div class="w-1 2xl:mr-11 mr-5 shrink-0 self-stretch bg-[#A4CD80]"> </div>
                    <div class="w-full text-base leading-7 text-bodyText">
                        <div class="flex items-center gap-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.83337C7.35812 1.83337 6.74664 1.95823 6.18761 2.18452C5.93165 2.28813 5.64015 2.16463 5.53654 1.90866C5.43292 1.65269 5.55643 1.3612 5.8124 1.25758C6.48861 0.983859 7.22735 0.833374 8 0.833374C11.2217 0.833374 13.8333 3.44505 13.8333 6.66671C13.8333 8.89963 12.1998 10.581 11.1933 11.4137C10.7637 11.7692 10.5 12.2581 10.5 12.7512C10.5 14.0853 9.41856 15.1667 8.08453 15.1667H7.92513C6.58577 15.1667 5.5 14.0809 5.5 12.7416C5.5 12.2509 5.24113 11.765 4.81768 11.4107C3.81536 10.5721 2.16667 8.87316 2.16667 6.66671C2.16667 5.28769 2.64582 4.01921 3.4463 3.02064C3.61902 2.80518 3.9337 2.77053 4.14916 2.94325C4.36462 3.11597 4.39927 3.43065 4.22655 3.64611C3.56315 4.47367 3.16667 5.5232 3.16667 6.66671C3.16667 8.39121 4.48638 9.82971 5.45937 10.6438C5.75262 10.8891 6.00735 11.193 6.19138 11.5381C6.20098 11.5421 6.21051 11.5464 6.21996 11.551C6.22075 11.5514 6.22154 11.5518 6.22233 11.5522L6.21996 11.551C6.2213 11.5516 6.22525 11.5535 6.23166 11.5563C6.24449 11.5619 6.26745 11.5715 6.30057 11.584C6.36677 11.6088 6.47366 11.6447 6.62127 11.6816C6.91617 11.7554 7.37546 11.8334 8 11.8334C8.27615 11.8334 8.5 12.0572 8.5 12.3334C8.5 12.6095 8.27615 12.8334 8 12.8334C7.36436 12.8334 6.8639 12.7621 6.49924 12.6803C6.49975 12.7007 6.5 12.7211 6.5 12.7416C6.5 13.5287 7.13806 14.1667 7.92513 14.1667H8.08453C8.86627 14.1667 9.5 13.533 9.5 12.7512C9.5 11.8987 9.94861 11.1457 10.5558 10.6433C11.5246 9.84173 12.8333 8.4198 12.8333 6.66671C12.8333 3.99733 10.6694 1.83337 8 1.83337ZM6.22327 11.5527C6.22323 11.5526 6.22331 11.5527 6.22327 11.5527V11.5527Z" fill="#6B9E32"/>
                            </svg>
                            <span class="text-[#6B9E32]">Tip</span>
                        </div>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.</p>
                        <br/>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Leo sapien nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.</p>
                    </div>
            </div>

             @* tip Warning *@
            <div class="flex items-start gap-4 py-2 pr-6 mt-4 rounded-lg ">
                    <div class="w-1 2xl:mr-11 mr-5 shrink-0 self-stretch bg-[#F79009]"> </div>
                    <div class="w-full text-base leading-7 text-bodyText">
                        <div class="flex items-center gap-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <g clip-path="url(#clip0_536_1825)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.1705 2.15142C8.42921 1.81671 7.57983 1.81671 6.83854 2.15142C6.46645 2.31944 6.09047 2.67757 5.59928 3.39251C5.1101 4.10453 4.55267 5.0989 3.78741 6.46545L3.5534 6.88331C2.81764 8.19718 2.28317 9.15262 1.94451 9.91295C1.60498 10.6753 1.49766 11.168 1.54329 11.5669C1.63397 12.3596 2.05462 13.0772 2.70191 13.5436C3.02768 13.7784 3.51001 13.9255 4.34103 14.0017C5.16989 14.0777 6.26466 14.0782 7.77052 14.0782H8.23853C9.74439 14.0782 10.8392 14.0777 11.668 14.0017C12.499 13.9255 12.9814 13.7784 13.3071 13.5436C13.9544 13.0772 14.3751 12.3596 14.4658 11.5669C14.5114 11.168 14.4041 10.6753 14.0645 9.91295C13.7259 9.15262 13.1914 8.19718 12.4556 6.8833L12.2216 6.46544C11.4564 5.0989 10.8989 4.10452 10.4098 3.39251C9.91858 2.67757 9.5426 2.31944 9.1705 2.15142ZM6.42702 1.24002C7.42994 0.787179 8.5791 0.787179 9.58202 1.24002C10.2103 1.52369 10.7147 2.07035 11.234 2.82624C11.7522 3.58056 12.3316 4.61521 13.0807 5.95288L13.3414 6.41843C14.0612 7.70365 14.6185 8.69887 14.978 9.50608C15.3389 10.3163 15.5359 11.0106 15.4593 11.6806C15.3366 12.753 14.7675 13.7239 13.8917 14.355C13.3447 14.7491 12.6426 14.9165 11.7594 14.9975C10.8794 15.0782 9.73877 15.0782 8.26577 15.0782H7.74328C6.27028 15.0782 5.12965 15.0782 4.24969 14.9975C3.36647 14.9165 2.66437 14.7491 2.11731 14.355C1.24157 13.7239 0.672448 12.753 0.549773 11.6806C0.47314 11.0106 0.670165 10.3163 1.03103 9.50608C1.39056 8.69888 1.94788 7.70367 2.66759 6.41846L2.92829 5.95294C3.6774 4.61524 4.2568 3.58058 4.77506 2.82624C5.29438 2.07035 5.79879 1.52369 6.42702 1.24002ZM8.00452 5.41156C8.28066 5.41156 8.50452 5.63542 8.50452 5.91156V8.57823C8.50452 8.85437 8.28066 9.07823 8.00452 9.07823C7.72838 9.07823 7.50452 8.85437 7.50452 8.57823V5.91156C7.50452 5.63542 7.72838 5.41156 8.00452 5.41156ZM7.17119 10.9116C7.17119 10.4513 7.54428 10.0782 8.00452 10.0782C8.46476 10.0782 8.83786 10.4513 8.83786 10.9116C8.83786 11.3718 8.46476 11.7449 8.00452 11.7449C7.54428 11.7449 7.17119 11.3718 7.17119 10.9116Z" fill="#F79009"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_536_1825">
                                <rect width="16" height="16" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span class="text-[#F79009]">Warning</span>
                        </div>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.</p>
                        <br/>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Leo sapien nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.</p>
                    </div>
            </div>

            @* tip Danger *@
            <div class="flex items-start gap-4 py-2 pr-6 mt-4 rounded-lg ">
                    <div class="w-1 2xl:mr-11 mr-5 shrink-0 self-stretch bg-[#FF7D87]"> </div>
                    <div class="w-full text-base leading-7 text-bodyText">
                        <div class="flex items-center gap-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <g clip-path="url(#clip0_536_1272)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99998 1.83398C4.59422 1.83398 1.83331 4.5949 1.83331 8.00065C1.83331 11.4064 4.59422 14.1673 7.99998 14.1673C11.4057 14.1673 14.1666 11.4064 14.1666 8.00065C14.1666 4.5949 11.4057 1.83398 7.99998 1.83398ZM0.833313 8.00065C0.833313 4.04261 4.04194 0.833984 7.99998 0.833984C11.958 0.833984 15.1666 4.04261 15.1666 8.00065C15.1666 11.9587 11.958 15.1673 7.99998 15.1673C4.04194 15.1673 0.833313 11.9587 0.833313 8.00065ZM5.64643 5.6471C5.84169 5.45184 6.15827 5.45184 6.35353 5.6471L7.99998 7.29354L9.64643 5.6471C9.84169 5.45184 10.1583 5.45184 10.3535 5.6471C10.5488 5.84236 10.5488 6.15894 10.3535 6.35421L8.70709 8.00065L10.3535 9.6471C10.5488 9.84236 10.5488 10.1589 10.3535 10.3542C10.1583 10.5495 9.84169 10.5495 9.64643 10.3542L7.99998 8.70776L6.35353 10.3542C6.15827 10.5495 5.84169 10.5495 5.64643 10.3542C5.45116 10.1589 5.45116 9.84236 5.64643 9.6471L7.29287 8.00065L5.64643 6.35421C5.45116 6.15894 5.45116 5.84236 5.64643 5.6471Z" fill="#EA0044"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_536_1272">
                                <rect width="16" height="16" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span class="text-[#FF7D87]">Danger</span>
                        </div>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.</p>
                        <br/>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Leo sapien nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.</p>
                    </div>
            </div>

            @* tip Quote *@
            <div class="flex items-start gap-4 py-2 pr-6 mt-4 rounded-lg ">
                    <div class="self-stretch w-1 mr-5 2xl:mr-11 shrink-0 bg-brand"> </div>
                    <div class="w-full text-base leading-7 text-bodyText">
                        
                        <p class="text-base font-bold leading-6 tracking-[-0.48px] sm:leading-10 sm:text-xl">Ultricies tincidunt mi senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor sodales in et condimentum.</p>
                        <br/>
                        <p class="text-xs leading-6 sm:leading-7 md:text-base">Kristin Watson</p>
                    </div>
            </div>

            @* Code Card *@           
            <div class="flex w-[327px] mx-auto md:mx-0 md:w-auto flex-col mt-[13.5px] bg-headLines rounded-lg shadow">
                <h5 class="px-8 py-6 text-xs font-extrabold  border-b border-[#3F4952] tracking-[1.44px] text-neutral uppercase ">Card Title</h5>
                <div class="font-normal w-full py-6 text-xs text-[#1A76FF] font-fira">
                    @* clipboard *@
                    <div class="w-full">
                        <div class="relative w-full dark:bg-gray-700">
                            <div class="overflow-scroll md:overflow-hidden ">
                                <pre id="code-block" class="text-xs text-[#1A76FF] bg-headLines whitespace-pre">                               
        USING org.apache.spark.sql.jdbc
            OPTIONS (
                    url "jdbc:mysql://iomet-tutorial.cetmtjnompsh.eu-
        central-1.rds.amazonaws.com:3306/employees",
                    dbtable "employees.employees",
                    driver 'com.mysql.cj.jdbc.Driver',
                    user 'tutorial_user',
                    password '9tVDVEKp'
        );
                    </pre>
                            </div>
                        <div class="absolute top-2 end-10 dark:bg-gray-700">
                            <button id="copyBtn" onclick="copyCode()" data-copy-to-clipboard-target="code-block" data-copy-to-clipboard-content-type="innerHTML" data-copy-to-clipboard-html-entities="true" class="m-0.5 hover:border-white dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 rounded-lg py-2 px-2.5 inline-flex items-center justify-center border-gray-500 border">
                                <span id="default-message" class="inline-flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <g clip-path="url(#clip0_490_821)">
                                    <path d="M12.35 18.0101H10.9487C10.0183 18.0888 9.08135 18.0085 8.17791 17.7726C7.67701 17.581 7.22212 17.286 6.8429 16.9068C6.46369 16.5276 6.16867 16.0727 5.97708 15.5718C5.76003 14.8217 5.67958 14.0387 5.73958 13.2601C4.8212 13.3392 3.897 13.2037 3.03999 12.8643C2.33111 12.5018 1.75684 11.922 1.40124 11.2097C0.989578 10.4022 0.989578 9.46801 0.989578 7.59968V6.64967C0.989578 4.78134 0.989578 3.84717 1.40124 3.03967C1.75956 2.33323 2.33355 1.75924 3.03999 1.40092C3.84749 0.989258 4.78166 0.989258 6.65 0.989258H7.6C9.46833 0.989258 10.4025 0.989258 11.21 1.40092C11.9223 1.75652 12.5021 2.33079 12.8646 3.03967C13.204 3.89668 13.3395 4.82088 13.2604 5.73926C14.039 5.67926 14.822 5.75971 15.5721 5.97676C16.073 6.16835 16.5279 6.46337 16.9071 6.84258C17.2863 7.2218 17.5813 7.67669 17.7729 8.17759C18.0088 9.08103 18.0891 10.018 18.0104 10.9484V12.3497C18.0104 14.218 18.0104 15.1522 17.5987 15.9597C17.2431 16.672 16.6689 17.2518 15.96 17.6143C15.1525 18.0101 14.2183 18.0101 12.35 18.0101ZM6.92708 13.2601C6.88099 13.8982 6.93711 14.5396 7.09333 15.1601C7.22284 15.5011 7.42315 15.8107 7.68106 16.0686C7.93897 16.3265 8.24861 16.5268 8.58958 16.6563C9.36809 16.8329 10.1691 16.8889 10.9646 16.8226H12.3658C14.0442 16.8226 14.8833 16.8226 15.4375 16.5455C15.9184 16.2946 16.3107 15.9022 16.5617 15.4213C16.8387 14.8672 16.8387 14.028 16.8387 12.3497V10.9484C16.9051 10.1529 16.849 9.35193 16.6725 8.57342C16.5426 8.23142 16.3412 7.92106 16.0818 7.66304C15.8224 7.40503 15.511 7.2053 15.1683 7.07717C14.5447 6.92378 13.9003 6.87297 13.2604 6.92676V7.59968C13.2604 9.46801 13.2604 10.4022 12.8487 11.2097C12.4931 11.922 11.9189 12.5018 11.21 12.8643C10.4183 13.2759 9.46833 13.2759 7.6 13.2759L6.92708 13.2601ZM6.65 2.17676C4.94791 2.17676 4.15624 2.17676 3.57833 2.45384C3.09747 2.70479 2.70511 3.09714 2.45416 3.57801C2.17708 4.15592 2.17708 4.94759 2.17708 6.64967V7.59968C2.17708 9.27801 2.17708 10.1172 2.45416 10.6713C2.70511 11.1522 3.09747 11.5446 3.57833 11.7955C4.15624 12.0726 4.94791 12.0726 6.65 12.0726H7.6C9.27833 12.0726 10.1175 12.0726 10.6717 11.7955C11.1525 11.5446 11.5449 11.1522 11.7958 10.6713C12.0729 10.1172 12.0729 9.27801 12.0729 7.59968V6.64967C12.0729 4.94759 12.0729 4.15592 11.7958 3.57801C11.5449 3.09714 11.1525 2.70479 10.6717 2.45384C10.1175 2.17676 9.27833 2.17676 7.6 2.17676H6.65Z" fill="#F9F8F6"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_490_821">
                                    <rect width="19" height="19" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                </span>
                                <span id="success-message" class="inline-flex items-center hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2346 4.31232C16.4764 4.5339 16.4927 4.90949 16.2711 5.15122L7.56277 14.6512C7.45333 14.7706 7.29989 14.8401 7.13798 14.8436C6.97607 14.8471 6.81975 14.7844 6.70524 14.6698L2.7469 10.7115C2.51503 10.4796 2.51503 10.1037 2.7469 9.87183C2.97878 9.63995 3.35472 9.63995 3.58659 9.87183L7.10643 13.3917L15.3957 4.34879C15.6173 4.10707 15.9929 4.09074 16.2346 4.31232Z" fill="#6B9E32"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div> 

            @* text 3 *@
            <div class="-mt-4">
                <p class="text-xs leading-6 text-bodyText md:text-base sm:leading-7">
                Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                </p>
                <p class="text-xs leading-6 text-bodyText md:text-base sm:leading-7">
                    Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                </p>
            </div>


            @* CONTENT FOOTER *@
            <div class="flex flex-col mx-auto h-[264px] w-[327px] md:w-full not-prose items-end self-stretch gap-8 md:gap-16">
                
                <div class="flex flex-col md:flex-row w-full md:w-[431px] p-5 justify-center items-center  gap-8 rounded-lg border border-bgNeutarl">
                    
                    <p class="text-base font-normal leading-7 text-brand">Did this page help you?</p>

                    <div class="flex gap-8 flex-start">

                        <button onclick="toggleModal()" class="flex items-center justify-center gap-2 px-4 py-3 text-xs font-semibold border rounded-lg hover:bg-backgroundFaded border-bgNeutarl bg-neutral text-headLines hover:text-brand">
                            Yes
                            <svg class="icon-footer" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.10739 0.36228C7.25932 0.21034 7.46541 0.125 7.68025 0.125C8.57419 0.125 9.17698 1.03905 8.82478 1.86077C8.82478 1.86078 8.82479 1.86076 8.82478 1.86077L8.32133 3.03555C8.23929 3.22695 8.1881 3.3473 8.15844 3.43841C8.14015 3.49459 8.13693 3.52037 8.13634 3.52762C8.14306 3.55721 8.1603 3.58335 8.18485 3.60117C8.19174 3.60349 8.2167 3.61069 8.27558 3.61601C8.37101 3.62464 8.50176 3.625 8.71 3.625H8.72723C9.19104 3.625 9.5632 3.62499 9.86135 3.65054C10.1667 3.6767 10.4335 3.73198 10.6724 3.86669C11.0556 4.08273 11.3507 4.42663 11.5059 4.83824C11.6027 5.09487 11.6168 5.36694 11.5962 5.67274C11.5761 5.97132 11.5195 6.33918 11.449 6.79762L11.1837 8.52197L11.1815 8.53679C11.1278 8.88548 11.0843 9.16802 11.0312 9.39638C10.9762 9.63253 10.9054 9.83768 10.7835 10.0245C10.5884 10.3234 10.3121 10.5606 9.98697 10.7079C9.78378 10.7999 9.57029 10.8388 9.32859 10.8572C9.09482 10.875 8.80899 10.875 8.45624 10.875H4.5C3.8795 10.875 3.42135 10.57 3.12939 10.2845C2.88101 10.6414 2.46778 10.875 2 10.875C1.24061 10.875 0.625 10.2594 0.625 9.5V5C0.625 4.24061 1.24061 3.625 2 3.625C2.5001 3.625 2.93784 3.89199 3.17847 4.2912L7.10739 0.36228ZM3.375 5.15533V9.40043C3.38383 9.41467 3.39409 9.43072 3.40577 9.44824C3.45811 9.52674 3.53662 9.63129 3.64017 9.73483C3.84929 9.94396 4.13453 10.125 4.5 10.125H8.4416C8.81246 10.125 9.0697 10.1247 9.27164 10.1094C9.46888 10.0943 9.58553 10.0664 9.67744 10.0247C9.67744 10.0247 9.67745 10.0247 9.67744 10.0247C9.87249 9.93635 10.0383 9.79413 10.1553 9.61477C10.2104 9.53027 10.2558 9.41915 10.3007 9.2264C10.3466 9.02903 10.386 8.77466 10.4425 8.40791L10.7051 6.70053C10.7789 6.22116 10.8302 5.8851 10.8479 5.62239C10.8654 5.36323 10.8463 5.21467 10.8042 5.10295C10.711 4.856 10.534 4.64964 10.3041 4.52001C10.2001 4.46137 10.0561 4.41997 9.79733 4.3978C9.53498 4.37532 9.19502 4.375 8.71 4.375L8.6939 4.375C8.50663 4.37501 8.34141 4.37502 8.20805 4.36296C8.07031 4.35051 7.91356 4.32191 7.77256 4.22782C7.57623 4.09677 7.44109 3.89191 7.39796 3.6598C7.36703 3.49315 7.40247 3.33773 7.44529 3.20622C7.48676 3.07884 7.55189 2.92691 7.62573 2.75468L7.63197 2.74013L8.13542 1.56534C8.27549 1.23857 8.0358 0.875 7.68025 0.875C7.66429 0.875 7.64898 0.88135 7.63771 0.89261L3.375 5.15533ZM2 4.375C1.65482 4.375 1.375 4.65482 1.375 5V9.5C1.375 9.84519 1.65482 10.125 2 10.125C2.34518 10.125 2.625 9.84519 2.625 9.5V5C2.625 4.65482 2.34518 4.375 2 4.375Z" fill="#252532"/>
                            </svg>
                        </button>

                        <button onclick="toggleModal()" class="flex items-center justify-center gap-2 px-4 py-3 text-xs font-semibold border rounded-lg hover:bg-backgroundFaded border-bgNeutarl bg-neutral text-headLines hover:text-brand">
                            No
                           <svg class="icon-footer" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.12198 11.6377C4.97005 11.7897 4.76396 11.875 4.54912 11.875C3.65518 11.875 3.05239 10.961 3.40459 10.1392C3.40459 10.1392 3.40458 10.1392 3.40459 10.1392L3.90804 8.96445C3.99008 8.77305 4.04127 8.6527 4.07093 8.56159C4.08922 8.50541 4.09244 8.47963 4.09303 8.47238C4.08631 8.44279 4.06907 8.41665 4.04452 8.39883C4.03763 8.39651 4.01267 8.38931 3.95379 8.38399C3.85836 8.37536 3.72761 8.375 3.51937 8.375H3.50214C3.03833 8.375 2.66617 8.37501 2.36802 8.34946C2.06265 8.3233 1.79588 8.26802 1.55695 8.13331C1.17378 7.91727 0.878709 7.57337 0.723453 7.16176C0.626648 6.90513 0.612572 6.63306 0.633147 6.32726C0.653236 6.02868 0.709836 5.66082 0.780373 5.20238L1.04563 3.47803L1.04791 3.46321C1.10157 3.11452 1.14505 2.83198 1.19818 2.60362C1.25314 2.36747 1.32401 2.16232 1.44588 1.97547C1.64093 1.67655 1.91727 1.43944 2.2424 1.29213C2.44559 1.20007 2.65908 1.1612 2.90078 1.1428C3.13455 1.12499 3.42038 1.125 3.77313 1.125H7.72937C8.34987 1.125 8.80802 1.43001 9.09998 1.7155C9.34836 1.35859 9.76159 1.125 10.2294 1.125C10.9888 1.125 11.6044 1.74059 11.6044 2.5V7C11.6044 7.75939 10.9888 8.375 10.2294 8.375C9.72927 8.375 9.29153 8.10801 9.0509 7.7088L5.12198 11.6377ZM8.85437 6.84467V2.59957C8.84554 2.58533 8.83528 2.56928 8.8236 2.55176C8.77127 2.47326 8.69275 2.36871 8.58921 2.26517C8.38008 2.05604 8.09484 1.875 7.72937 1.875H3.78777C3.41691 1.875 3.15967 1.87525 2.95773 1.89063C2.76049 1.90565 2.64384 1.93363 2.55193 1.97528C2.55193 1.97528 2.55192 1.97528 2.55193 1.97528C2.35688 2.06365 2.1911 2.20587 2.07406 2.38523C2.01895 2.46973 1.97352 2.58085 1.92867 2.7736C1.88274 2.97097 1.84335 3.22534 1.78691 3.59209L1.52426 5.29947C1.45051 5.77884 1.39913 6.1149 1.38146 6.37761C1.36402 6.63677 1.38304 6.78533 1.42519 6.89705C1.51833 7.144 1.69537 7.35036 1.92529 7.47999C2.02931 7.53863 2.17324 7.58003 2.43204 7.6022C2.69439 7.62468 3.03435 7.625 3.51937 7.625L3.53547 7.625C3.72274 7.62499 3.88796 7.62498 4.02132 7.63704C4.15906 7.64949 4.31581 7.67809 4.45681 7.77218C4.65314 7.90323 4.78828 8.10809 4.83141 8.3402C4.86234 8.50685 4.8269 8.66227 4.78408 8.79378C4.74261 8.92116 4.67748 9.07309 4.60364 9.24532L4.5974 9.25987L4.09395 10.4347C3.95388 10.7614 4.19357 11.125 4.54912 11.125C4.56508 11.125 4.58039 11.1187 4.59166 11.1074L8.85437 6.84467ZM10.2294 7.625C10.5745 7.625 10.8544 7.34518 10.8544 7V2.5C10.8544 2.15481 10.5746 1.875 10.2294 1.875C9.88419 1.875 9.60437 2.15481 9.60437 2.5V7C9.60437 7.34518 9.88419 7.625 10.2294 7.625Z" fill="#252532"/>
                            </svg>
                        </button>
                    </div>
                </div>

                @* line *@
                <div class="w-full h-px bg-bgNeutarl" />
                
                @* Pagination *@
                <div class="flex items-start justify-between gap-2 mt-8 md:mt-[68px] not-prose">
                @* <!-- Previous Button --> *@
                <a href="#" class="flex items-center justify-center gap-2 px-4 py-2 text-xs font-semibold border rounded-lg sm:px-6 sm:py-3 sm:text-sm text-headLines bg-neutral border-bgNeutarl hover:bg-backgroundFaded hover:text-brand dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-footer" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.02022 2.9797C7.21548 3.17496 7.21548 3.49155 7.02022 3.68681L3.20712 7.49985H14C14.2761 7.49985 14.5 7.72371 14.5 7.99985C14.5 8.27599 14.2761 8.49985 14 8.49985H3.20711L7.02022 12.313C7.21548 12.5082 7.21548 12.8248 7.02022 13.0201C6.82496 13.2153 6.50838 13.2153 6.31311 13.0201L1.64645 8.35341C1.55268 8.25964 1.5 8.13246 1.5 7.99985C1.5 7.86724 1.55268 7.74006 1.64645 7.6463L6.31312 2.9797C6.50838 2.78444 6.82496 2.78444 7.02022 2.9797Z"/>
                    </svg>
                    Previous page name
                </a>
                @* Next Button *@
                <a href="#" class="flex items-center justify-center gap-2 px-4 py-2 text-xs font-semibold border rounded-lg sm:px-6 sm:py-3 sm:text-sm text-headLines bg-neutral border-bgNeutarl hover:bg-backgroundFaded hover:text-brand dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Next page name
                    <svg class="icon-footer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.97978 2.9797C9.17504 2.78444 9.49162 2.78444 9.68688 2.9797L14.3536 7.6463C14.4473 7.74006 14.5 7.86724 14.5 7.99985C14.5 8.13246 14.4473 8.25964 14.3536 8.35341L9.68689 13.0201C9.49162 13.2153 9.17504 13.2153 8.97978 13.0201C8.78452 12.8248 8.78452 12.5082 8.97978 12.313L12.7929 8.49985H2C1.72386 8.49985 1.5 8.27599 1.5 7.99985C1.5 7.72371 1.72386 7.49985 2 7.49985H12.7929L8.97978 3.68681C8.78452 3.49155 8.78452 3.17496 8.97978 2.9797Z" fill="#252532"/>
                    </svg>
                </a>
                </div>
                
            </div>

        </div>
            
    </div>
    </div>    

    <div id="feedbackModal" class="fixed inset-0 z-50 flex items-center justify-center hidden transition-opacity duration-300 ease-in-out bg-gray-800 bg-opacity-75">
        <div class="relative w-full max-w-3xl overflow-hidden bg-white rounded-lg shadow-lg">
            <iframe id="feedbackIframe" frameborder="0" class="w-full h-[60vh] md:h-[50vh]"></iframe>
            <button onclick="toggleModal()" class="absolute top-0 right-0 mt-4 mr-4 text-gray-500 hover:text-gray-700">
                @* close icon *@
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>
</div>


<script src="/lib/js/highlight.js"></script>
<script>hljs.highlightAll()</script>
<script src="/lib/js/lite-yt-embed.js"></script>
<script src="/mjs/docs.mjs" type="module"></script>


@* Script to rotate chevron icon and change color of the button in LEFT MENU *@
<script>
document.querySelectorAll('[data-collapse-toggle]').forEach(button => {
    button.addEventListener('click', () => {
        console.log("button clicked.")
        const target = document.getElementById(button.getAttribute('aria-controls'));
        target.classList.toggle('hidden');
        
        const chevron = button.querySelector('.chevron');
        chevron.classList.toggle('rotate-180');

        button.classList.toggle('text-brand');
        
         const svgIcon = button.querySelector('.icon');
            const paths = svgIcon.querySelectorAll('path');
            const isOrange = paths[0].getAttribute('fill') === '#FF6849';
            const newColor = isOrange ? '#252532' : '#FF6849';

            paths.forEach(path => {
                path.setAttribute('fill', newColor);
            });

    });
});
</script>

@* Script to rotate chevron icon  in RIGHT MENU *@
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const toggleButton = document.querySelector('[data-collapse-toggle="dropdown-r"]');
    const chevronIcon = toggleButton.querySelector('.rotate-icon');

    toggleButton.addEventListener('click', function() {
        toggleButton.querySelector('.rotate-icon').classList.toggle('rotate-180');
    });
});
</script>

<script>
        function getCurrentPageSlug() {
            const path = window.location.pathname;
            return path.split('/').filter(Boolean).pop();
        }

        function toggleModal() {
            const modal = document.getElementById("feedbackModal");
            const iframe = document.getElementById("feedbackIframe");
            
            if (modal.classList.contains("hidden")) {
                const slug = getCurrentPageSlug();
                const baseUrl = "https://formbricks.coolify.avd.unilake.com//s/clye3gdzk000eu6hbvs2mwtif?embed=true";
                iframe.src = `${baseUrl}&docspage=${slug}`;
            }
            
            modal.classList.toggle("hidden");
        }

        function copyCode() {
            const codeBlock = document.getElementById("code-block");
            const codeText = codeBlock.innerText;

            const textarea = document.createElement("textarea");
            textarea.value = codeText;

            document.body.appendChild(textarea);

            textarea.select();
            textarea.setSelectionRange(0, 99999); 

            document.execCommand("copy");

            document.body.removeChild(textarea);

            // Show the success message
            const copyBtn = document.getElementById('copyBtn')
            const successMessage = document.getElementById('success-message');
            const defaultMessage = document.getElementById('default-message');
            successMessage.classList.remove('hidden');
            defaultMessage.classList.add('hidden');
            copyBtn.classList.add('bg-[#2f4d01]')
            copyBtn.classList.remove('border')


            setTimeout(function() {
                successMessage.classList.add('hidden');
                defaultMessage.classList.remove('hidden');
                copyBtn.classList.remove('bg-[#2f4d01]')
                copyBtn.classList.add('border')
            }, 2000);
        }
    </script>