<footer class="bg-[#252532] z-50 clear-both relative border border-[#3F4952] font-inter w-full shadow dark:bg-gray-800">
    <div class="px-6 py-6 mx-auto sm:px-8 2xl:px-28">
      <span class="text-xs text-[#C1C5C0] leading-[24px] sm:text-center dark:text-gray-400"> <a href="/" class="">Unilake</a> ©2024 
    </span>
    </div>
</footer>
